doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
    link(rel='shortcut icon', href='../images/greenhouse.ico', type='image/x-icon')
  body
    block content
    script(src='/javascripts/progress-bar.js')
    script(src='/javascripts/mqtt-client.js')
